{% extends 'base.html' %}
{% block container%}
{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Document</title>
</head>
<body class="bg-black">
    <div class=" p-2 md:p-5 mt-[80px]">
        <div class="columns-1 lg:gap-4 sm:columns-2 lg:columns-3 xl:columns-4 mt-[40px]">
            {% for object in object_list %}
            <a href="{{ object.get_absolute_url }}">
                <img class="mb-2 rounded-lg outline outline-2 outline-line outline-offset-[-10px] " src="{{ object.image.url }}" alt="">
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}